<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ConfiPath" value="E:\PAI_Deployment\ConfigFiles\" />
    <add key="FTLPath" value="E:\PAI2\EDW\Batch\FTL\" />
    <add key="FTLPathProcessed" value="E:\PAI2\EDW\Batch\FTL\Processed\" />
    <add key="FTLPathError" value="E:\PAI2\EDW\Batch\FTL\Error\" />
    <add key="RESPath" value="E:\PAI2\EDW\Batch\RES\" />
    <add key="DCSPathProcessed" value="E:\PAI2\EDW\Batch\DCS\Processed\" />
    <add key="DCSPathError" value="E:\PAI2\EDW\Batch\DCS\Error\" />
    <add key="DCSPath" value="E:\PAI2\EDW\Batch\DCS\" />
    <add key="RESPathProcessed" value="E:\PAI2\EDW\Batch\RES\Processed\" />
    <add key="RESPathError" value="E:\PAI2\EDW\Batch\RES\Error\" />
    <add key="SIRAXPath" value="E:\PAI2\EDW\Batch\SIRAX\INPUT\" />
    <add key="SIRAXPathProcessed" value="E:\PAI2\EDW\Batch\SIRAX\INPUT\Processed\" />
    <add key="SIRAXPathError" value="E:\PAI2\EDW\Batch\SIRAX\INPUT\Error\" />
    <add key="MailServer" value="smtp.sas.local" />
    <add key="MailServerPort" value="25" />
    <add key="HoldingPeriodForSIRAX" value="2" />
    <add key="SenderMailAddress" value="SASApp.Loyality@sas.dk" />
    <add key="ReceiverMailAddress" value="Saurav.saroya@sas.dk" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<connectionStrings><add name="PAIEntities" connectionString="metadata=res://*/PAIModel.csdl|res://*/PAIModel.ssdl|res://*/PAIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.33.35.10;initial catalog=PAI;user id=paiuser;password=tcs@12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>